{% include 'base.html.twig' %}

<center> <h3>Espace de gestion</h3> </center>

{# <nav class="navbar bg-dark center" data-bs-theme="dark" >
  <ul class="nav justify-content-center">
    <li class="nav-item" >
      <a class="nav-link active" aria-current="page" href="{{path('app_affiche_employe')}}">Afficher et gérer les formations </a>
    </li>
    <li class="nav-item">
      <a class="nav-link" href="{{path('app_affiche_employe')}}">Afficher et gérer les employés</a>
    </li>
    <li class="nav-item">
      <a class="nav-link" href="{{path('app_affiche_gestion_inscription')}}">Afficher et gérer les inscriptions aux formations</a>
    </li>
    <li class="nav-item">
      <a class="nav-link active" href="{{path('app_affiche_employe_statut0')}}">Voir les inscriptions d'un employé</a>
    </li>
  </ul>
</nav>
<br> #}

<h3>Liste des formations disponibles :</h3>
<br>
{% if lesFormations is defined %}
    <table class="table">
        <thead>
            <tr>
                <th>Date de début</th>
                <th>Nombre d'heures</th>
                <th>Département</th>
                <th>Libellé</th>
                <th>Description</th>
            </tr>
        </thead>
        <tbody>
            {% for uneFormation in lesFormations %}
                <tr>
                    <td>{{uneFormation.dateDebut|date("d/m/Y")}}</td>
                    <td>{{uneFormation.nombreHeures}}</td>
                    <td>{{uneFormation.departement}}</td>
                    <td>{{uneFormation.produit.libelle}}</td>
                    <td>{{uneFormation.description}}</td>
                    <td>
                        <a href="{{path("app_inscription_formation", {"id": uneFormation.id})}}" class="btn btn-primary">S'inscrire</a>
                    </td>
                </tr>
            {% endfor %}
        </tbody>
    </table>
{% else %}
    <p>Aucune formation n'est enregistrée !</p>
{% endif %}
<br>
<center>
    <a href="{{path('app_espace_employe')}}" class="btn btn-danger">Retour</a>
</center>