<a href="{{path('app_espace_employe')}}">Retour</a>

<h3>Liste des formations disponibles :</h3>
{% if lesFormations is defined %}
    {% for uneFormation in lesFormations %}
        <b>Date de début : </b>{{uneFormation.dateDebut|date("d/m/Y")}}<br>
        <b>Nombre d'heures : </b>{{uneFormation.nombreHeures}}<br>
        <b>Département : </b>{{uneFormation.departement}}<br>
        <b>Libellé : </b>{{uneFormation.libelle.libelle}}<br>
        <b>Description : </b>{{uneFormation.description}}<br>
        <a href="{{path("app_inscription_formation", {"id": uneFormation.id})}}">S'incrire</a><br><br>
    {% endfor %}
{% else %}
    <p>Aucune formation n'est enregistrée !</p>
{% endif %}