{% include 'base.html.twig' %}
<a href="{{path('app_espace_employe')}}">Retour</a>

<h3>Gestion des inscriptions :</h3>

<center>
    <a href="{{path('app_affiche_gestion_inscription_enAttente')}}">Afficher/Gérer les inscriptions en attente</a>
</center>

{% if lesInscriptions is defined %}
    <h3>Liste des inscriptions :</h3>
    {% for uneInscription in lesInscriptions %}
        <b>Noms de l'employé : </b>{{uneInscription.employe.nom}} {{uneInscription.employe.prenom}}<br>
        <b>Département : </b>{{uneInscription.formation.departement}}<br>
        <b>Nom de la formation : </b>{{uneInscription.formation.libelle.libelle}}<br>
        <b>Date de début : </b>{{uneInscription.formation.dateDebut|date("d/m/Y")}}<br>
        <b>Statut : </b>{{uneInscription.statut}}<br><br>
    {% endfor %}
{% else %}
    <p>Aucune inscriptions enregistrée !</p>
{% endif %}