{% include 'base.html.twig' %}


<h3>Liste des inscriptions en attente :</h3>

<center>
    <a href="{{path('app_affiche_gestion_inscription_enAttente')}}" class="btn btn-warning">Afficher/Gérer les inscriptions en attente</a>
</center>
<br>

{% if lesInscriptions is defined %}

    <table class="table">
            <thead>
                <tr>
                    <th>Nom de l'employé</th>
                    <th>Département </th>
                    <th>Nom de la formation</th>
                    <th>Date de début</th>
                    <th>Statut</th>
                    <th></th>
                </tr>
            </thead>
            {% for uneInscription in lesInscriptions %}
                <tbody>
                        <tr>
                            <td>{{uneInscription.employe.nom}} {{uneInscription.employe.prenom}}</td>
                            <td>{{uneInscription.formation.departement}}</td>
                            <td>{{uneInscription.formation.produit.libelle}}</td>
                            <td>{{uneInscription.formation.dateDebut|date("d/m/Y")}}</td>
                            <td>{{uneInscription.statut}}</td>
                        </tr>
                    {% endfor %}
                </tbody>
        </table>
{% else %}
    <p>Aucune inscriptions enregistrée !</p>
{% endif %}

<center><a href="{{path('app_espace_employe')}}" class="btn btn-outline-danger">Retour</a></center>
       