{% include 'base.html.twig' %}

<h3>Gestion des inscriptions :</h3>

{% if lesInscriptions is defined %}
    <table class="table">
            <thead>
                <tr>
                    <th>Nom de l'employé</th>
                    <th>Département </th>
                    <th>Nom de la formation</th>
                    <th>Date de début</th>
                    <th>Statut</th>
                    <th></th>
                </tr>
            </thead>
            {% for uneInscription in lesInscriptions %}
            {% if uneInscription.statut == "En attente" %}
                <tbody>
                        <tr>
                            <td>{{uneInscription.employe.nom}} {{uneInscription.employe.prenom}}</td>
                            <td>{{uneInscription.formation.departement}}</td>
                            <td>{{uneInscription.formation.produit.libelle}}</td>
                            <td>{{uneInscription.formation.dateDebut|date("d/m/Y")}}</td>
                            <td>{{uneInscription.statut}}</td>
                            <td><a href="{{path('app_modification_inscription', {'id': uneInscription.id, 'statut': 'Acceptée'})}}" class="btn btn-success">Accepter</a></td>
                            <td><a href="{{path('app_modification_inscription', {'id': uneInscription.id, 'statut': 'Refusée'})}}" class="btn btn-danger">Refuser</a></td>
                        </tr>
                    {% endif %}
                    {% endfor %}
                </tbody>
        </table>
{% else %}
    <p>Aucune inscriptions en attente !</p>
{% endif %}

<center><a href="{{path('app_affiche_gestion_inscription')}}" class="btn btn-outline-danger">Retour</a></center>
    