{% include 'base.html.twig' %}
<center>
<p>Bienvenue, {{unEmploye.prenom}} {{unEmploye.nom}}</p>

<h3>Espace de gestion</h3>


<nav class="navbar bg-dark center" data-bs-theme="dark" >
  <ul class="nav justify-content-center">
    <li class="nav-item" >
      <a class="nav-link active" aria-current="page" href="{{path('app_affiche_gestion_formation')}}">Afficher et gérer les formations </a>
    </li>
    <li class="nav-item">
      <a class="nav-link" href="{{path('app_affiche_employe')}}">Afficher et gérer les employés</a>
    </li>
    <li class="nav-item">
      <a class="nav-link" href="{{path('app_affiche_gestion_inscription')}}">Afficher et gérer les inscriptions aux formations</a>
    </li>
    <li class="nav-item">
      <a class="nav-link active" href="{{path('app_affiche_employe_statut0')}}">Voir les inscriptions d'un employé</a>
    </li>
  </ul>
</nav>
<br>
<center>
      <a href="{{path("app_deconnexion")}}" class="btn btn-danger">Déconnexion</a>
</center>