<p>Connecté en tant que, {{unEmploye.login}}</p>
<a href="{{path("app_deconnexion")}}">Déconnexion</a>
<h3>Espace de gestion</h3>
<center>
    <a href="{{path('app_affiche_gestion_formation')}}">Afficher/Gérer les formations</a><br>
    <a href="{{path('app_affiche_employe')}}">Afficher/Gérer les employés</a><br>
    <a href="{{path('app_affiche_gestion_inscription')}}">Afficher/Gérer les inscriptions aux formations</a><br>
</center>