{% include 'base.html.twig' %}
<b>Cherher un Employé : </b> <input type="text">

{% if lesEmployesRech is defined %}
    {% for employe in lesEmployesRech %}
    <b> Nom :</b>  {{employe.nom}}<br>
    <b> Prénom :</b>  {{employe.prenom }}<br/>
    <b> Statut: </b> {{employe.statut}}<br/>
    <b>Password :</b>{{employe.password}}<br/>
    <a href="{{path('app_suppression_employe', {'id': employe.id})}}">Suppression</a><br><br>
    {% endfor %}
{% endif %}